body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    background: linear-gradient(45deg, #cec5d9, #3bc0a6);
    background-size: 400% 400%;
    animation: Gradient 5s ease-in-out infinite;
    height: 100%;
    overflow: hidden;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: darkblue;
    margin-bottom: 10px;
}

.description {
    color: #444;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.search-container {
    display: flex;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    /*box-shadow*/
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

/*Stronger box-shadow on hover*/
.search-container:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28), 0 6px 12px rgba(32, 33, 36, 0.28);
}

.search-bar {
    flex-grow: 1;
    padding: 12px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    transition: transform 0.2s ease-in-out;
}

.search-bar:active {
    transform: scale(1.02); /* Reduces the size to 95% of the original */
}

.search-bar::placeholder {
    color: #aaa;
}

.search-button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #b92a72;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    text-align: center;
    outline: none;
}

.search-button:hover {
    background-color: #8a2145;
}

.search-button:active {
    background-color: #14050b;
}

.loading-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #fbfbfb;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotateCircle 0.5s linear infinite;
    display: none;  /* Hide it initially */
}

@keyframes rotateCircle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
